/* Page 404 */
.page-404 {
    background-color: $white-color;
    text-align: center;
    position: relative;
    .content-404 {
        img {
            width: 500px;
            height: auto;
            margin: auto;
        }
    }
}